body {
    font-family: "Quicksand", sans-serif;
    color:white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/public/262789bd253c7db121a4861c148f994a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#resgistro {
    width: 220%;
    max-width: 1200px;
    height: 650px;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    overflow: hidden;
    background-color: #0F0F10;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    flex: auto;
    margin-left: 0%;
}

#img {
    background-image: url("/public/pexels-bertellifotografia-28993124.jpg");
    width: 50%;
    height: 100%;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}

#form {
    width: 50%;
    padding: 6% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0F0F10;
}

form {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


input {
    border-radius: 8px;
    border: 1px solid rgb(118, 118, 118);
    padding: 10px;
    font-size: 14px;
    color: #0F0F10;
}

button {
    width: 100%;
    padding: 10px;
    background: #4A3AFF;
    border: none;
    border-radius: 10px;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#registro{
    font-size: 300%;
    margin-bottom: 0%;
    margin-top: 3%;
}
