.JoinedGroup{
    width: 13vw;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    cursor: pointer;
    box-sizing: border-box;
    padding: 2vw;
    
    background-color: rgba(255, 255, 255, 0.799) ;
}

.JoinedGroupInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.InfoGroup{
    margin-right: -8px;
    color: #4A3AFF !important;
}

.JoinedGroupInfo p{
    width: 100%;
    display: flex;
    align-items: center;
    font-family: "Mulish", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: #4A3AFF;
}

.JoinedGroup h2{
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    color: #4A3AFF;
    width: 9.2vw;
}

.CreatedJoined {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: "Mulish", sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    color: #1e1e1eb0;
}