.GroupsSect{
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2vw 3vw;
    background-color: rgba(255, 255, 255, 0.395);
    backdrop-filter: blur(2px);
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.GroupsSect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://kbkljkxypthbtafchvxz.supabase.co/storage/v1/object/sign/assets/dotnoise-light-grey.png?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV83NjJiYzJhZC0yZDA2LTQ5YzgtOTJkNi0zZWY1MzVlZTAwMzgiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJhc3NldHMvZG90bm9pc2UtbGlnaHQtZ3JleS5wbmciLCJpYXQiOjE3NDk2MjQ3OTMsImV4cCI6MTc4MTE2MDc5M30.5YaMCa-4YzyZiHOlcrtD9JWVREg-T9LWfodNUjo_9HU');
  opacity: 0.4;
  pointer-events: none;
  border-radius: 20px;
}

.GroupsSect h1{
    font-family: "Quicksand", sans-serif;
    font-size: 19px;
    font-weight: 600;
    font-style: normal;
    color: white;
}

.JoinedGroupsContainer{
    width: 100%;
    height: 26vh;
    border-radius: 10px;
    overflow-x: scroll;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.JoinedGroupsContainer::-webkit-scrollbar {
    display: none;
}

.RecommendedGroupsContainer{
    width: 100%;
    height: 26vh;
    border-radius: 10px;
    overflow-x: scroll;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.RecommendedGroupsContainer::-webkit-scrollbar {
    display: none;
}

.AddGroup{
    width: 14vw;
    height: 98%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed white;
    background-color: rgba(255, 255, 255, 0.307);
    cursor: pointer;
}